body{
    background-image: url(../img/background.png);
    font-family: 'lato', Arial, Helvetica, sans-serif;
    margin: 0;
}

h3{
    color: #5d1277;
}

p{
    color:#4f4f4f;
}

#beyonce{
    width: 150px;
}

.secao1{
    background-color: white;
    width: 40%;
    margin: 50px auto 0 auto;
    text-align: center;
    padding: 100px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,.4);   
}

.icons img{
    width: 50px;
    margin: 10px 

}
